ENVIRONMENT=development
SECRET_KEY=troque-por-uma-chave-longa-e-aleatoria
DATABASE_URL=sqlite:///./aurora_restaurante.db
ACCESS_TOKEN_EXPIRE_MINUTES=720
CORS_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
WS_CHANNELS=mesas,cozinha,bar,caixa,notificacoes,gerente
